#pixel-size-container {
    width: 64px;
    height: 64px;
    margin: 10px;
    border: none;
    box-shadow: 0px 0px 2px #ffffff;
    background-image: url("../../assets/images/size.png");
    background-size: cover;
    background-color: #111111;
}

#pixel-size-title {
    font-size: 16px;
    font-weight: bold;
}

#pixel-size {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
}